{
  "root": true,
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "indent": [2, "tab", {"SwitchCase": 1}],
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "linebreak-style": 0,
    "radix": [2, "as-needed"]
  }
}